/*!
 * Style.css
 * author: michael depaula
 * custom css style css
*/
@media (min-width: 992px) {

.thumb1{
	height:218px;
}
}
.title{
	font-family: 'Special Elite', cursive;
	font-size:48px;
}
.generate{
	font-family: 'Shadows Into Light Two', cursive;
	font-size:48px;
	color:#FFFFFF;
	margin: 0 auto; 
    white-space: pre-wrap;        
    white-space: -moz-pre-wrap;    
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;      
    word-wrap: break-word;
	width:80%; 
}
.thumb1{
	padding-top:40px; 
	margin: 0 auto;
}
.thumb2{
	margin: 0 30px 30px 30px; 
}
.main{
	background:url(../img/main.jpg) top no-repeat;
	position:relative;
	overflow:hidden;
	margin: 0 0 30px;
	padding:100px 0 80px;
}
#words-group{
	margin-bottom:0; 	
}
.form-inline .form-control{
	width:40px;	
}
.symbols{
	width:40px;	
}
.animate{
	color:#5C941B; 
	font-size:16px;
	margin: 0 auto;
}
.status{
	color:#3a8240; 
}
.status_info{
	margin: 0 auto;
	margin-top: 4px; 
}
footer{
	font-family: 'Special Elite', cursive;
	font-size:14px;
	background:#F0F0F0;
	padding:30px;
	color:#0B2329;
	background-image:url(../img/footer_bg.png);
	background-repeat:repeat-x;
}
.form-mobile{
	padding: 0 40px 0 40px;	
}
.navbar-header{
	padding: 0 20px 0 20px; 	
}