
.title{
	font-family: 'Special Elite', cursive;
	font-size:48px;
}

.generate{
	font-family: 'Shadows Into Light Two', cursive;
	font-size:48px;
	color:#FFFFFF;
	margin: 0 auto; 
}

.thumb1{
	height:218px;
	padding-top:40px; 
	margin: 0 auto;
}

.main{
	background:url(../img/main.jpg) top no-repeat;
	position:relative;
	overflow:hidden;
	margin: 0 0 30px;
	padding:100px 0 80px;
}
#words-group{
	margin-bottom:0; 	
}
.form-inline .form-control {
	width:40px;	
}

.symbols {
	width:40px;	
}

.animate
{
	color:#1d4521; 
	font-size:16px;
	margin: 0 auto;
}

.status
{
	color:#3a8240; 
}

.status_info
{
	margin: 0 auto;
	margin-top: 4px; 
}
